@import './variables';

.login__viewBody {
    padding: 4rem 0;
    background-color: #f5f5f5;
}

// -------------- LOGIN VERSIÓN MOBILE --------------

.login__container {
    background-color: #ffffff;
    width: 85%;
    margin: 0 auto;
    // margin-top: 4rem;
    padding: 1.3rem 2rem;
    -webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
}

.login__container-title {
    font-family: $secondary_font;
    font-size: 1.6rem;
    text-align: center;
    color: $header_session_login;
    font-weight: bold;
    margin-bottom: .8rem;
}

.login__container-subtitle {
    font-family: $secondary_font;
    text-align: center;
    font-size: .8rem;
    color: $header_searchInput;
    font-weight: lighter;
    margin-bottom: 1rem;
}
            // ---- LOGIN FORMULARIO ----

.login__form {
    margin-bottom: 1.8rem;
}

.login__inputContainer {
    margin-bottom: .4rem;
}

.login__inputContainer-input {
    width: 100%;
    border: none;
    padding: 1rem .5rem;
    border-bottom: 1px solid $navbar_Background;
    outline: none;
}

.login__inputContainer.last {
    margin-bottom: 2rem;
}

.login__inputContainer-message {
    font-family: $secondary_font;
    color: #838383;
}

.login__inputContainer-input::-webkit-input-placeholder {
	color: $header_searchInput;
	font-family: $secondary_font;
}


.login__submitContainer-submit {
    border: none;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-radius: 5px;
    background-color: $navbar_Background;
    font-family: $secondary_font;
    color: #ffff;
    font-weight: bold;
}


            // ---- LOGIN WITH GOOGLE SEPARADOR ----

.login__separadorContainer {
    position: relative;
    margin-bottom: 1.4rem;
}

.login__separadorContainer::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 40%;
    height: 1px;
    background-color: $separadorBackground;
}

.login__separadorContainer::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 40%;
    height: 1px;
    background-color: $separadorBackground;
}

.login__separadorContainer-item {
    text-align: center;
    font-family: $secondary_font;
    color: $header_searchInput;
}

            // ---- LOGIN WITH GOOGLE ----

.login__googleContainer {
    margin-bottom: 2rem;
}


.login__googleContainer-button{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-radius: 5px;
    font-family: $secondary_font;
    font-weight: bold;
    color: $perfil_principal-color;
    -webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
}

.login__googleContainer-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9%;
}

.login__googleContainer-button:hover {
    text-decoration: none;
    color: $perfil_principal-color;
}



.login__separador {
    background-color: $separadorBackground;
    width: 81%;
    margin: 0 auto 2rem;
}

            // ---- OTHER ACTIONS ----


.login__actionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.login__actionContainer a {
    text-decoration: none;
    font-family: $secondary_font;
    color: $currencyList_main;

}

            // ---- REGISTER VIEW MESSAGE ----

.register__messageContainer {
    margin-bottom: 2rem;
}

.register__messageContainer-message {
    font-family: $secondary_font;
    font-size: .8rem;
    color: $header_searchInput;
    font-weight: lighter;
}



// -------------- LOGIN VERSIÓN DESKTOP --------------


@media (min-width: 1000px){
    .login__container {
        width: 53%;
        padding: 3.3rem 4rem;
    }
           // ---- FORM SECTION ----
    .login__inputContainer {
        width: 90%;
        margin: 0 auto .4rem;
    }

    .login__inputContainer-input {
        border-bottom: 2px solid $navbar_Background;
    }

    .register__messageContainer {
        width: 90%;
        margin: 0 auto 3rem;
    }

    .login__submitContainer {
        width: 56%;
        margin: 0 auto;
    }
            // ---- LOGIN WITH GOOGLE ----
    .login__googleContainer{
        width: 56%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .login__separador {
        width: 40%;
        margin: 0 auto 2rem;
    }
            // ---- OTHER ACTIONS ----
    .login__actionContainer.register {
        margin-bottom: 0;
    }
}