

/*-------------- NAVBAR PERFIL MOBILE ------------- */

.perfilNavbar__mobile {
	display: flex;
	align-items: center;
	padding: 1rem 1.5rem;
	justify-content: space-between;
	width: 95%;
}

.perfilNavbar__mobileItem {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.perfilNavbar__mobileItem-icon {
	margin-right: 1rem;
}

.perfilNavbar__mobileItem-option {
	font-size: 1.1rem;
	font-family: $principal_font;
	text-decoration: none;	
	color: #ffffff;
	font-weight: 300;
}


/*----------------------- PERFIL MAIN SECTION ---------------*/
.perfil__container {
	padding: 0;
	margin: 0;
	background-color: $header_background;
	min-height: 100vh;
}

.perfil__body {
	width: 85%;
	margin: 0 auto;
	min-height: 100%;
	padding-bottom: 1rem;
}

.perfil__body-title {
	padding: 1.2rem 0;
	text-align: center;
	font-size: 2rem;
	font-family: $principal_font;
	font-weight: 300;
}

/*---- PERFIL CARDS ---*/
.perfil__card:not(:last-of-type){
	margin-bottom: 3rem; 	
}

.perfil__cardTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.perfil__card-title {
	font-family: $secondary_font;
	font-size: 1.2rem;
	font-weight: bold;
	color: $perfil_secondary-color;
}

.perfil__cardBody {
	background-color: #ffffff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
}

.perfil__cardBody.email {
	text-align: center;
	width: 100%;
}

.perfil__cardEmail-title {
	padding: 2rem 0 1rem;
	font-size: 1rem;
	font-family: $secondary_font;
	font-weight: bold;
}

.perfil__cardEmail-content {
	font-size: .8rem;
	font-family: $secondary_font;
	font-weight: bold;
	padding-bottom: 2rem;
	color: $perfil_third-color;
}

//CARD LISTS

.perfil__cardList {

}

.perfil__cardListItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	margin: 0 auto;
	padding: 2rem 0;
}

.perfil__cardListItem-title, .perfil__cardListItem-content {
	font-family: $secondary_font;
	font-size: .9rem;
}

.perfil__cardListItem-title {
	color: $perfil_principal-color;
}

.perfil__cardListItem-content {
	color: $perfil_third-color;
	font-weight: bold;
}

.perfil__cardListItem-content-light
{
	color: $perfil_third-color;
	font-weight: 200;
}
//CARD DIRECCIONES

.perfilCardDirection {
	background-color: #ffffff;
	padding: 1rem 1.5rem 1.6rem;
	border-radius: 5px;
	-webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.75);
}

.perfil__cardBody.direccion {
	padding: .6rem 1rem;
}

.perfil__cardTitle.direccion {
	margin-bottom: .6rem;
}

.direccionCard {
	margin-bottom: 2rem;
}

.perfil__card-title.direccion {
	font-size: 1rem;
} 

.perfil__cardDireccion {
	width: 85%;
	margin: 0 auto;
}

.perfil__cardDireccion-title {
	font-family: $secondary_font;
	font-weight: bold;
	font-size: .8rem;
	margin-bottom: .6rem;
}

.perfil__cardDireccion-content {
	font-family: $secondary_font;
	font-size: .7rem;
	color: $perfil_third-color;
	font-weight: bold;
}

.perfil__agregarDireccion {
	text-align: center;
	margin-bottom: .7rem;
}

.perfil__agregarDireccion a {
	font-family: $secondary_font;
	color: $perfil-cta-color;
	text-decoration: none;
	font-weight: bold;
	font-size: .8rem;
}


.perfil__menuDesktop {
	display: none;
}


//------------------------------  VISTA MIS COMPRAS -----------------

.perfil__cardBody.compras {
	margin-bottom: 2rem;
	padding: 1rem 1.5rem 0;
}

.perfil__cardBody.compras:last-of-type {
	margin-bottom: 0;
}

.perfil__comprasInfo {
	margin-bottom: 1.5rem;
}

.perfil__comprasInfo-title {
	font-family: $secondary_font;
	font-size: 1.2rem;
	color: $perfil-four-color;
	margin-bottom: .2rem;
}


.perfil__comprasInfo-title.pendiente {
	color: $perfil-pendiente-color;
}

.perfil__comprasInfo-title.completed {
	color: $perfil_completed-color;
}

.perfil__comprasInfo-alert {
	font-size: .9rem;
	color: $perfil_third-color;
	font-family: $secondary_font;
	font-weight: 300;
	margin-bottom: .4rem;
}

.perfil__comprasInfoDetails {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.perfil__comprasInfoDetails-info {
	font-size: .8rem;
	color: $perfil_third-color;
	font-family: $secondary_font;
	font-weight: 300;
}

.perfil__comprasMount {
	text-align: center;
	margin-bottom: 1.5rem;
}

.perfil__comprasMount-title, .perfil__comprasMount-mount{
	font-family: $secondary_font;
}

.perfil__comprasMount-title {
	font-size: 1rem;
}

.perfil__comprasMount-mount {
	font-size: .9rem;
	font-weight: 300;
	color: $perfil_third-color;
}


.perfil__comprasActions {

	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 2rem;

	a {
		text-decoration: none;
		font-family: $secondary_font;
		font-weight: bold;
		font-size: .9rem;
	}
}

.perfil__comprasActions.completed {
	justify-content: flex-end;
}

.perfil__comprasActions-cancelar {
	color: $perfil_third-color;
}


.perfil__comprasActions-detalle {
	color: $perfil_cta-color;
}

.perfil__cardMasCompras {
	display: none;
}


@media (min-width: 950px) {

	.header__navMobile{
		display: none;
	}

	.perfil__container {
		display: grid;
		grid-template-columns: 30% 70%;
	}

	.perfil__menuDesktop {
		display: block;
	}

	.perfil__body{
		padding-top: 6rem;
		margin: 0;
		width: 80%;
	}

	.perfil__body.compras{
		width: 90%;
		margin-bottom: 1rem;
	}

	.perfil__body-title {
		text-align: start;
	}

	.perfil__card-title {
		font-size: 1rem;
	}

	.perfil__cardBody.email {

		display: flex;
		align-items: center;
		padding: 1rem 0;
	}

	.perfil__cardEmail-title {
		margin: 0;
		padding: 0;
		text-align: start;
		flex: 1 0 40%;
		padding-left: 2rem;
		font-size: 1rem;
	}
	.perfil__cardEmail-content {
		padding: 0;
		flex: 1 0 60%;
		font-size: 1rem;
		text-align: start;
	}

	//CARD LIST DESKTOP 

	.perfil__cardListItem {
		width: 100%;
		display: grid;
		grid-template-columns: 40% 60%;
	}

	.perfil__cardListItem-title {
		padding-left: 2rem;
	}

	.perfil__cardEditar-icon.cardLists{
		position: relative;
		right: 2%;
		top: 3.5rem;
		cursor: pointer;
	}

	//Menu Desktop

	.perfil__menuDesktop {
		margin-top: 3rem;
	}

	.perfil__menuDesktop-container {
		width: 75%;
		margin: 0 auto;
	}

	.perfil__menuDesktop-title, .perfil__menuDesktop-user {
		font-family: $principal_font;
		font-size: 1.8rem;
		font-weight: 300;
	}


	.perfil__menuDesktop-user {
		margin-top: .3rem;
		font-size: 1rem;
		font-family: $secondary_font;
		color: #FF9417;
	}

	.perfil_divisorLine {
		margin-top: .7rem;
		transform: translateX(-8%);
		width: 80%;
		height: 2px;
		background-color: #d2cece73;
		margin-bottom: 1.2rem;
	}

	.perfil_menuOptionsItem {
		display: flex;
		list-style: none;
		align-items: center;
		margin-bottom: 1rem;
	}

	.perfil_menuOptionsItem span {
		flex: 1 0 20%;
	}

	.perfil_menuOptionsItem-option{
		flex: 1 0 80%;
		font-family: $principal_font;
		color: #000000;
		font-weight: 300;
		text-decoration: none;
	}

	//COMPRAS VISTA
	.perfil__cardBody.compras {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 1rem 0rem 1rem 1.6rem;
	}

	.perfil__cardBody.compras > div {
		flex: 1;
		margin-bottom: 0;
	}

	.perfil__comprasInfo {
		width: 40%;
	}

	.perfil__comprasInfoDetails {
		display: block;
	}

	.perfil__comprasInfoDetails-info {
		display: inline-block;
	}

	.perfil__comprasActions {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 0;
		a:first-of-type {
			order: 2
		}
	}

	.perfil__cardMasCompras {
		display: block;
		text-align: center;
	}

	.perfil__cardMasCompras-option {
		color: $perfil_cta-color;
		font-family: $secondary_font;
		font-weight: bold;
		text-decoration: none;
	}
}