// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;

//Colors Important 
$primary: #FD6721;
$primary-light: #FF9417;
$secondary: #02528A;
$secondary-light: #0068B1;

//FONTS

$principal_font: 'Righteous', cursive;
$secondary_font: 'Roboto', cursive;


//HEADER VIEW COLORS

$header_background: 	#EBE7E7;
$header_session: 		#232323;
$header_session_login:	#02528A;
$header_searchInput:	#A7A7A7;

	
	// --- NAVBAR HEADER --
$navbar_Background: 		#FD6721;
$currencyList_main:			#02528A;
$currencyList_secondary:	#0068B1;
$currencyList_title:		#0079CE;


// PERFIL VIEW COLORS

$perfil_principal-color: 	#000000;
$perfil_secondary-color: 	#2B2B2B;
$perfil_third-color: 		#838383;
$perfil-four-color: 		#FF9417;
$perfil_cta-color:			#02528A;
$perfil_completed-color: 	#00E23F;
$perfil-pendiente-color: 	#0068B1;

//LOGIN / REGISTER VIEW 

$separadorBackground: #E5E5E5;

// products cards 

$product_orange: #FF661B;

.btn-primary.disabled, .btn-primary:disabled {
    color: #ffffff;
    background-color: #838383;
    border-color: #838383;
}