// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import './variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*, *::before, *::after, a, li, h1,h2,h4,h5,h6, p, ul, nav{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


// vistas
@import './header';
@import './home';
@import './perfil';
@import './LoginAndRegister';
@import './almacen';
@import './productDetail';
// Card de productos
@import './productos';



// componentes
@import './componentes/_categorieMenu_mobile';
@import './componentes/carritoComprasModal';