@import url(https://fonts.googleapis.com/css?family=Nunito);@font-face {
  font-family: "Righteous";
  src: url("/fonts/Righteous-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------------- MOBILE VIEW --------------------- */

.header__mobileMain {
  background-color: #EBE7E7;
}

.header__mobileContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0.8rem 0 1.3rem;
}

.header__logoMobile {
  width: 15%;
  text-align: center;
}

.header__logoMobile-image {
  max-width: 75%;
}

.header__searchMobile {
  width: 70%;
  position: relative;
}

.header__searchMobile-input {
  font-family: "Roboto", cursive;
  font-size: 0.7rem;
  width: 100%;
  padding: 1rem 1.5rem 1.05rem;
  border-radius: 50px;
  border: none;
  box-shadow: -1px 4px 11px -6px rgba(0, 0, 0, 0.75);
  outline: none;
}

.header__searchMobile-input ::-webkit-input-placeholder {
  color: #A7A7A7;
  font-family: "Roboto", cursive;
  font-size: 0.8rem;
}

.header__searchMobile-icon {
  position: absolute;
  top: 25%;
  right: 4%;
}

.header__menuMobile-icon {
  padding-top: 0.6rem;
  width: 15%;
  text-align: center;
}

.header__navMobile {
  width: 100%;
  background-color: #FD6721;
  padding-left: 0.2rem;
}

.header__navMain {
  display: flex;
  padding: 1rem;
  align-items: center;
  width: 90%;
}

.header__navList {
  list-style: none;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;
}

.header__navList:last-of-type {
  margin-right: 0;
}

.header__navList a {
  text-decoration: none;
  font-family: "Righteous", cursive;
  color: #ffffff;
  font-size: 1.2rem;
  margin-left: 0.7rem;
}

.camionIcon__mobile {
  position: fixed;
  right: 4%;
  bottom: 5%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FD6721;
  box-shadow: 1px 3.5px 15px -3px rgba(0, 0, 0, 0.75);
}

/*------------------------- DESKTOP VIEW --------------------- */

.header__main {
  width: 100%;
  display: none;
}

.header__container {
  background-color: #EBE7E7;
}

.header__body {
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.header__logo {
  width: 15%;
  margin-right: 1rem;
}

.header__logo-image {
  max-width: 100%;
}

.header__search {
  width: 62%;
  position: relative;
  margin-right: 2rem;
}

.header__search-input {
  font-family: "Roboto", cursive;
  width: 100%;
  padding: 1.2rem 2rem 1rem;
  border-radius: 50px;
  border: none;
  box-shadow: -1px 4px 11px -6px rgba(0, 0, 0, 0.75);
  outline: none;
}

.header__search-input::-webkit-input-placeholder {
  color: #A7A7A7;
  font-family: "Roboto", cursive;
  font-size: 1rem;
}

.header__search--icon {
  position: absolute;
  top: 23%;
  cursor: pointer;
  right: 3.5%;
}

.header__sesion {
  width: 18.5%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.header__sesion-option {
  font-family: "Righteous", cursive;
  font-size: 1.15rem;
  color: #232323;
  text-decoration: none;
}

.header__sesion-option.login {
  color: #02528A;
}

.navbar__container {
  width: 100%;
  background-color: #FD6721;
}

.navbar__body {
  display: flex;
  width: 97%;
  align-items: center;
  margin-left: auto;
  padding-right: 1rem;
}

.navbar__list {
  width: 76%;
  padding-right: 2.5rem;
  justify-content: flex-end;
  display: flex;
}

.navbar__list-item {
  list-style: none;
  padding: 1.3rem 0;
}

.navbar__list-item:not(:first-of-type) {
  margin-left: 4rem;
}

.navbar__list-item a {
  font-family: "Righteous", cursive;
  text-decoration: none;
  font-size: 1rem;
  color: #ffff;
}

.navbar__currency {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  font-size: 1.2rem;
}

.navbar__currency--choose {
  color: #ffff;
  font-family: "Righteous", cursive;
  text-decoration: none;
}

.navbar__currencyList {
  position: absolute;
  top: 178%;
  right: 5%;
  width: 172px;
  background-color: pink;
}

.navbar__currencyList.hide {
  display: none;
}

.navbar__currencyList--item {
  font-size: 1rem;
  padding: 0.6rem 0 0.8rem;
  font-family: "Righteous", cursive;
  background-color: #02528A;
}

.navbar__currencyList--item a,
.navbar__currencyList--item.title {
  text-decoration: none;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.navbar__currencyList--item.choose:hover {
  background-color: #0068B1;
}

.navbar__currencyList--item.title {
  font-family: "Roboto", cursive;
  color: #0079CE;
  font-size: 0.7rem;
}

.navbar__currencyList--item.usd a {
  color: #2B2B2B;
  font-family: "Righteous", cursive;
}

.navbar__currencyList--item.ves a {
  color: #ffff;
}

.navbar__icon {
  text-align: center;
  width: 10%;
}

@media (min-width: 300px) {
  .header__main {
    display: none;
  }
}

@media (min-width: 411px) {
  .header__navMobile {
    padding-left: 1rem;
  }
}

@media (min-width: 1000px) {
  .header__mobileMain {
    display: none;
  }

  .header__main {
    display: block;
  }

  .camionIcon__mobile {
    display: none;
  }
}

@media (min-width: 1400px) {
  .header__sesion {
    width: 18%;
  }

  .header__sesion-option {
    font-size: 1.3rem;
  }
}

/*-------------- NAVBAR PERFIL MOBILE ------------- */

.perfilNavbar__mobile {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  width: 95%;
}

.perfilNavbar__mobileItem {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.perfilNavbar__mobileItem-icon {
  margin-right: 1rem;
}

.perfilNavbar__mobileItem-option {
  font-size: 1.1rem;
  font-family: "Righteous", cursive;
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}

/*----------------------- PERFIL MAIN SECTION ---------------*/

.perfil__container {
  padding: 0;
  margin: 0;
  background-color: #EBE7E7;
  min-height: 100vh;
}

.perfil__body {
  width: 85%;
  margin: 0 auto;
  min-height: 100%;
  padding-bottom: 1rem;
}

.perfil__body-title {
  padding: 1.2rem 0;
  text-align: center;
  font-size: 2rem;
  font-family: "Righteous", cursive;
  font-weight: 300;
}

/*---- PERFIL CARDS ---*/

.perfil__card:not(:last-of-type) {
  margin-bottom: 3rem;
}

.perfil__cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.perfil__card-title {
  font-family: "Roboto", cursive;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2B2B2B;
}

.perfil__cardBody {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.75);
}

.perfil__cardBody.email {
  text-align: center;
  width: 100%;
}

.perfil__cardEmail-title {
  padding: 2rem 0 1rem;
  font-size: 1rem;
  font-family: "Roboto", cursive;
  font-weight: bold;
}

.perfil__cardEmail-content {
  font-size: 0.8rem;
  font-family: "Roboto", cursive;
  font-weight: bold;
  padding-bottom: 2rem;
  color: #838383;
}

.perfil__cardListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
}

.perfil__cardListItem-title,
.perfil__cardListItem-content {
  font-family: "Roboto", cursive;
  font-size: 0.9rem;
}

.perfil__cardListItem-title {
  color: #000000;
}

.perfil__cardListItem-content {
  color: #838383;
  font-weight: bold;
}

.perfilCardDirection {
  background-color: #ffffff;
  padding: 1rem 1.5rem 1.6rem;
  border-radius: 5px;
  box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.75);
}

.perfil__cardBody.direccion {
  padding: 0.6rem 1rem;
}

.perfil__cardTitle.direccion {
  margin-bottom: 0.6rem;
}

.direccionCard {
  margin-bottom: 2rem;
}

.perfil__card-title.direccion {
  font-size: 1rem;
}

.perfil__cardDireccion {
  width: 85%;
  margin: 0 auto;
}

.perfil__cardDireccion-title {
  font-family: "Roboto", cursive;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
}

.perfil__cardDireccion-content {
  font-family: "Roboto", cursive;
  font-size: 0.7rem;
  color: #838383;
  font-weight: bold;
}

.perfil__agregarDireccion {
  text-align: center;
  margin-bottom: 0.7rem;
}

.perfil__agregarDireccion a {
  font-family: "Roboto", cursive;
  color: #0068B1;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
}

