@import 'variables';

.categorie__mobileSelection{
   position: fixed;
   top: -200vh;
   height: 100vh;
   width: 100vw;
   background-color: $navbar_Background;
   z-index: 999;
   padding: 0 1.3rem;
   transition: transform .5s ease;
}

.categorie__mobileSelection.active {
    transform: translateY(200vh);
}

.categorie__mobileHead {
    position: relative;
    padding-top: 3.5rem;
    margin-bottom: 2.2rem;
}

.categorie__mobileHead-close {
    position: absolute;
    color: #333;
    font-size: 1.5rem;
    top: 0;
    right: 0;
}

.categorie__mobileHead-title{
    font-family: $secondary_font;
    font-size: 1.3rem;
    color: #F5F5F5;
    letter-spacing: .7px;
}

.categorie__mobileBody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .1rem;
    grid-row-gap: .8rem;

    width: 90vw;
    height: 75%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.categorie__mobileBody-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-family: $secondary_font;
    font-size: .8rem;
    width: 100px;
    height: 100px;
    justify-self: center;
    color: #02528a;
    font-weight: bold;
}

.categorie__mobileBody-iconActive {
    display: none;
}

.categorie__mobileBody-item.active {
    background-color: $currencyList_main;
    color: #ffffff;
}



@media (min-width: 768px) {
    .categorie__mobileSelection {
        position: absolute;
        width: 400px;
        top: 160px;
        left: -100%;
        transition: left .5s ease;
    }

    .categorie__mobileSelection.active {
        transform: translateY(0%);
        left: 0;
    }

    .categorie__mobileBody{
        width: 100%;
    }

    .categorie__mobileHead {
       display: none;
    }
        

    // Cambiar el look & feel del scroll

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(199, 199, 199); 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }


}