@import '../variables';

.labelfs { /* tamaño de la fuente del label */
    font-size: .8rem;
    font-family: $secondary_font;
    color: $header_searchInput;
}

.radeus { /* Border radius de las tarjetas */
    border-radius: 20px;
}

.img-border { /* Border radius de las img */
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    max-width: 70%;
    object-fit: cover;
}

.carritoCompras__finalizarButton.disabled {
    cursor: not-allowed;
    background-color: grey;
}

.carritoCompras__alertMinimunPrice {
    display: none;
    background-color: $navbar_Background;
    padding: .9rem 0;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.carritoCompras__alertMinimunPrice.active {
    display: block;
}

.carritoCompras__alertMinimunPrice-text {
    font-family: $secondary_font;
    font-weight: bold;
    color: #ffffff;
}

.carritoCompras__productCardMain {
    margin-bottom: .5rem;
}

.carritoProductCard__title {
    font-family: $secondary_font;
    color: $currencyList_main;
    font-size: 1.4rem;
}

.carritoProductCard__iva {
    font-family: $secondary_font;
    color: $header_searchInput;
}


.carritoProductCard__caracteristicas {
    display: flex;
    justify-content: space-between;   
}

.carritoProductCard__caracteristicasInfo {
    flex: 1 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .carritoProductCard__caracteristicasInfo-price {
        font-size: 1.2rem;
        font-family: $secondary_font;
    }

    .carritoProductCard__caracteristicasInfo-empaque {
        font-family: $secondary_font;
    }
}



.carritoProductCard__caracteristicasCantidad {
    flex: 1 0 30%;
    justify-content: center;
    text-align: center;
}

.cart_modal_cantidad_producto {
    width: 79%;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    color: #0068B1;
}

