.labelfs { /* tamaño de la fuente del label */
    font-size: 70%
}

.radeus { /* Border radius de las tarjetas */
    border-radius: 20px;
}

.img-border { /* Border radius de las img */
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    max-width: 100%;
}