.formDireccion__pickupMain {
    background-color: #FD6721;
    display: flex;
    width: 78%;
    margin: 0 auto .9rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-radius: 5px;
    cursor: pointer;
}

.formDireccion__pickupBody {
    color: #ffffff;
    margin-left: .8rem;
    text-align: center;
}

.formDireccion__pickupBody-title {
    font-family: $principal_font;
    font-size: 1.2rem;
    margin: 0;
}

.formDireccion__pickupBody-subtitle {
    font-family: $secondary_font;
    font-size: .9rem;
    color: rgba($color: #ffffff, $alpha: .6);
}

@media (min-width: 940px) {
    .formDireccion__pickupMain {
        width: 43%;
    }
}